h1 {
    text-align: center;
    font-weight: 100;
    font-size: 10rem;
    margin: 2rem 0;
    letter-spacing: -1px;
    color: white;
    text-decoration: none;
}

h2 {
    text-align: center;
    font-weight: 100;
    font-size: 4rem;
    margin: 2rem 0;
    letter-spacing: -1px;
    text-decoration: none;
    color: white;
}

.mainPage {
    background-image: url("../../../public/background.jpg");
    background-position: top center;
    background-size: 100% 100%;
    background-attachment:fixed;
}

.scoringGrid {
    display: flex;
    flex-wrap: nowrap;
    max-width: 1000px;
    margin: 0 auto;
}

.scoreCard {
    flex: 1;
    padding: 1rem;
    margin: 1rem;
    text-align: center;
    border: 1px solid black;
    background-color: green;
    color: white;
    font-size: 1rem;
}

.input-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    min-width: 700px;
    max-width: 700px;
}

.input-section input::-webkit-outer-spin-button,
.input-section input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input-section button {
    margin: 5px;
    padding: 5px;
    font-size: 20px;
    width: 14%;
    max-width: 60px;
    border-radius: 12px;
    text-align: center;
    background-color: lightgray;
}

.input-section p {
    display: flex;
    justify-content: center;
    font-size: 20px;
    margin: 5px;
    color: white;
}

.gameSelection {
    display: flex;
    flex-wrap: nowrap;
    max-width: 1000px;
    margin: 0 auto;
    justify-content: center;
    color: white;
    padding-bottom: 20px;
}

.newGameButtonGrid {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;

    .newGameButton {
        font-size: 40px;
        border-radius: 12px;
        text-align: center;
        background-color: limegreen;
        padding: 10px;
    }
}

.modal {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 100px;
    position: fixed;
    z-index: 3;
    display: block;
}

.modal-content {
    margin: auto;
    background-color: #fff;
    position: relative;
    padding: 0;
    outline: 0;
    width: 600px;
    color: black;
}

.modal-content h2 {
    text-align: center;
    font-weight: 100;
    font-size: 4rem;
    margin: 2rem 0;
    letter-spacing: -1px;
    text-decoration: none;
    color: black;
}

.cricket-button {
    justify-content: center;
    flex-wrap: wrap;
    border: white solid 1px;
    background-color: black;
    font-size: 16px;
    cursor: pointer;
    width: 33%;
    max-width: 100px;
    color: white;
}

.cricket-tally {
    justify-content: center;
    flex-wrap: wrap;
    display: inline-block;
    font-size: 50px;
    width: 33%;
    max-width: 100px;
    text-align: center;
    color: white;
}

.tally-div {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.cricket-player {
    text-align: center;
    font-size: 50px;
    color: white;
    margin: 10px;
}

.cricket-player-section {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.btn-group {
    position: relative;
    display: inline-flex;
    vertical-align: middle;
    justify-content: center;
    width: 100%;
}

.btn-check {
    position: absolute;
    clip: rect(0,0,0,0);
    pointer-events: none;
    box-sizing: border-box;
}


.btn-check:checked  + .btn{
    color: black;
    background-color: royalblue;
    border-color: white;
}

.btn {
    margin: 5px;
    width: 14%;
    max-width: 60px;
    border-radius: 12px;
    text-align: center;
    background-color: lightgray;
    display: inline-block;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: black;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid black;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}